<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.durai.ucen.ucen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Cirulars List"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AttendanceActivity"
            android:label="Attendance List"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".CircularDetailActivity"
            android:label="Circular Details" />
        <activity
            android:name=".SemestersListActivity"
            android:label="Results List" />
        <activity
            android:name=".SemesterDetailActivity"
            android:label="Result Detail" />
        <activity android:name=".SemesterAnalyticsActivity"
            android:label="Semester Analytics"></activity>
    </application>

</manifest>